body{
    background: linear-gradient(to left, lightblue , darkblue);
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 10%;
}


.container{
    width: 400px;
    margin: 0 auto;
    background-color: blue;
    height: 500px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}
.input-group input[type="text"], .input-group input[type="password"]{
    margin: 20px 0;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    width: 250px;
}
h2{
    color: white;
    font-size: 30px;
}
.checkbox{
    color: white;
    padding-right: 45%;
}
input[type="checkbox"]{
    width: 15px;
    height: 15px;
    accent-color: black;
}
button{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background-color: lightblue;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-
}